<div class="w-section content-section gray">
  <div class="content-wrapper white contact">
    <div class="contact-form-box">
      <div class="contact-form-title-box">
            <div class="title medium dark">Complete your membership profile below, <%= params['first_name'] %>:</div>
          </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:name => "email-form", :class => "form", :id => "email-form"}) do |f| %>
              <%= devise_error_messages! %>
                <% amount = Discount.return_discount_code_amount(params['discount_code']) %>
                <% encryption = User.generate_encrypted_password(6) %>
                <%= f.hidden_field :email, :value => params['email'] %>
                <%= f.hidden_field :first_name, :value => params['first_name'] %>
                <%= f.hidden_field :last_name, :value => params['last_name'] %>
                <%= f.hidden_field :zip_code, :value => params['zip_code'] %>
                <%= f.hidden_field :phone, :value => params['phone'] %>
                <%= f.hidden_field :phone, :value => params['phone'] %>
                <%= f.hidden_field :password, autocomplete: "off", :value => encryption %>
                <%= f.hidden_field :amount_paid, :value => amount %>
                <%= f.hidden_field :password_confirmation, autocomplete: "off", :value => encryption %>

              <script src="<%= ENV['stripe_checkout_url'] %>" class="stripe-button"
                      data-key="<%= ENV['stripe_publishable_key'] %>"
                      data-description="$20 Style Deposit"
                      data-email="<%= params['email'] %>"
                      data-shipping-address=true
                      data-billing-address=true
                      data-amount=<%= amount  %>
                      data-locale="auto"
                      data-allowRememberMe=false
                      data-image="<%= image_path('bb-webclip.jpg') %>"
                      style="margin-bottom:10%;">Join The Club
              </script>
              <script>
                document.getElementById("stripe-button").addEventListener("click", function() {
                  handler.open({
                    image:"<%= image_path('bb-webclip.jpg') %>",
                    name: "Bogeybox Golf Club",
                    description: "$20 Style Deposit",
                    amount: "<%= amount %>"
                  });
                });
              </script>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function () {
   $(".stripe-button-el").trigger('click');
});
</script>

</div>
