
  <!-- Scroll Up Button -->
  <div class="w-section go-up-bar">
    <div class="content-wrapper">
      <a href="#Top" data-ix="initial-appearance-for-go-up-button" class="w-inline-block go-up-button" style="background-image: url(<%= asset_path 'Arrow.png' %>);"></a>
    </div>
  </div>

  <!-- Landing Page Image Section-->

  <div data-ix="actions-for-hero-section" class="hero-section" style="background-image: url(<%= asset_path 'IMG_4489.JPG' %>);">
    <a href="#Why" class="w-inline-block arrow"><img width="26" src="<%= image_path('Arrow_1.png') %>" class="pointing-down-arrow">
    </a>
    <div class="content-wrapper hero">
      <div class="hero-header-box">
        <div class="hero-title-box">
          <div data-ix="move-up-hero-title" class="hero-title">The Perfect Father’s Day Golf Gift</div>
          <br>
          <p data-ix="move-up-hero-title" style="color:white;">Need help finding a unique, and personalized, golf gift? Let our personal shoppers build the perfect golf gift for the Father in your life. </p>
          <a href="#Gifts" class="w-inline-block button get-started landing">
            <div class="get-started">Purchase Gift</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Why Bogey/Reasons For Gifting Section-->

  <div id="Why" class="w-section content-section dark">
    <div class="content-wrapper narrow">
      <div class="narrow-section-box">
        <h4 class="h4 big white how-i-work">Why Bogeybox</h4>
        <p class="paragraph medium white">3 Reasons Bogeybox Makes the Perfect Father’s Day Gift</p>
      </div>
      <div data-ix="slide-right-1-chat-icon" class="how-i-work-row">
        <div class="w-row row">
          <div class="w-col w-col-6 column"><img src="<%= image_path('IMG_2763.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div class="right-column how-i-work">
              <div class="title medium">Expert Stylist for 1 Year</div>
              <p class="paragraph how-i-work">Our styling team will pick perfect pieces based on his personal preferences.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="slide-left-2-display-icon" class="how-i-work-row-2">
        <div class="w-row">
          <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('IMG_5925.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div data-ix="initial-appearance-display" class="display-icon"></div>
            <div class="right-column how-i-work">
              <div class="title medium">Quality Clothing</div>
              <p class="paragraph how-i-work">We send unique, high quality pieces he will want to wear again and again. </p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="slide-right-3-diamond-icon" class="how-i-work-row-3">
        <div class="w-row">
          <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('golf lessons.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div class="right-column how-i-work">
              <div class="title medium">Online Golf Lessons with a PGA Teaching Professional</div>
              <p class="paragraph how-i-work">Our golf pro’s will help your gift recipient improve their swing via video lessons.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing Section-->

  <div id="Gifts"class="content-section white" style="color:black;">
    <div class="content-wrapper narrow">
      <div>
        <h4 class="h4 big">Gift Membership Options:</h4>
        <br>
        <p style="color:black;">Each package comes with <b>Free Shipping & Returns</b>, <b>1 Year Access to Personal Stylist</b>, and <b>Covers $100 Annual Membership Dues</b>.</p>
      </div>
    </div>
    <br>
    <div class="content-wrapper">
      <div class="features-box">
        <div class="w-row features-row">
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-36" class="service-feature-box">
              <div class="right-side-lines">
                <div class="side-right-line-vertical-1"></div>
                <div class="side-right-line-vertical-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-horizontal-1"></div>
                <div class="top-horizontal-line-2"></div>
              </div>
              <div class="right-top-corner-box">
                <div class="right-top-vertical-line-1"></div>
                <div class="right-top-horizontal-line-2"></div>
                <div class="right-top-vertical-line-2"></div>
                <div class="right-top-horizontal-line-1"></div>
              </div>
              <div class="left-top-corner-box">
                <div class="top-left-vertical-line-1"></div>
                <div class="left-top-horizontal-line-1"></div>
                <div class="left-top-horizontal-line-2"></div>
                <div class="top-left-vertical-line-2"></div>
              </div>
              <div class="left-bottom-corner-box">
                <div class="left-bottom-horizontal-line-1"></div>
                <div class="left-bottom-horizontal-line-2"></div>
                <div class="left-bottom-vertical-line-2"></div>
                <div class="left-bottom-vertical-line-1"></div>
              </div>
              <div class="left-side-lines">
                <div class="side-left-line-vertical-2"></div>
                <div class="side-left-line-vertical-1"></div>
              </div>
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon">
                </div>
                <h3>Your Price: $150 </h3>
                <h4>Value Received: $225 </h4>
                  <br>
                  <ul style='text-align:left;'><b>$50</b> Shopping Credit</ul>
                  <ul style='text-align:left;'><b>2</b> Clothing Shipments</ul>
                  <ul style='text-align:left;'><b>1</b> Online Golf Lesson with a Pro</ul>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="bottom-side-lines">
                <div class="bottom-line-horizontal-1"></div>
                <div class="bottom-line-horizontal-2"></div>
              </div>
              <div class="right-bottom-corner-box">
                <div class="right-bottom-vertical-line-2"></div>
                <div class="right-bottom-vertical-line-1"></div>
                <div class="right-bottom-horizontal-line-2"></div>
                <div class="right-bottom-horizontal-line-1"></div>
              </div>
              <br>
              <a href="/gift-a-box?spa=$150" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
                <div class="get-started">Get started</div>
              </a>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-37" class="service-feature-box">
              <div class="right-side-lines">
                <div class="side-right-line-vertical-1"></div>
                <div class="side-right-line-vertical-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-horizontal-1"></div>
                <div class="top-horizontal-line-2"></div>
              </div>
              <div class="right-top-corner-box">
                <div class="right-top-vertical-line-1"></div>
                <div class="right-top-horizontal-line-2"></div>
                <div class="right-top-vertical-line-2"></div>
                <div class="right-top-horizontal-line-1"></div>
              </div>
              <div class="left-top-corner-box">
                <div class="top-left-vertical-line-1"></div>
                <div class="left-top-horizontal-line-1"></div>
                <div class="left-top-horizontal-line-2"></div>
                <div class="top-left-vertical-line-2"></div>
              </div>
              <div class="left-bottom-corner-box">
                <div class="left-bottom-horizontal-line-1"></div>
                <div class="left-bottom-horizontal-line-2"></div>
                <div class="left-bottom-vertical-line-2"></div>
                <div class="left-bottom-vertical-line-1"></div>
              </div>
              <div class="left-side-lines">
                <div class="side-left-line-vertical-2"></div>
                <div class="side-left-line-vertical-1"></div>
              </div>
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-2">
                </div>
                  <h3>Your Price: $250 </h3>
                  <h4>Value Received: $475 </h4>
                    <br>
                    <ul style='text-align:left;'><b>$150</b> Shopping Credit</ul>
                    <ul style='text-align:left;'><b>4</b> Clothing Shipments</ul>
                    <ul style='text-align:left;'><b>3</b> Online Golf Lesson with a Pro</ul>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="bottom-side-lines">
                <div class="bottom-line-horizontal-1"></div>
                <div class="bottom-line-horizontal-2"></div>
              </div>
              <div class="right-bottom-corner-box">
                <div class="right-bottom-vertical-line-2"></div>
                <div class="right-bottom-vertical-line-1"></div>
                <div class="right-bottom-horizontal-line-2"></div>
                <div class="right-bottom-horizontal-line-1"></div>
              </div>
              <br>
              <a href="/gift-a-box?spa=$250" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
                <div class="get-started">Get started</div>
              </a>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-38" class="service-feature-box">
              <div class="right-side-lines">
                <div class="side-right-line-vertical-1"></div>
                <div class="side-right-line-vertical-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-horizontal-1"></div>
                <div class="top-horizontal-line-2"></div>
              </div>
              <div class="right-top-corner-box">
                <div class="right-top-vertical-line-1"></div>
                <div class="right-top-horizontal-line-2"></div>
                <div class="right-top-vertical-line-2"></div>
                <div class="right-top-horizontal-line-1"></div>
              </div>
              <div class="left-top-corner-box">
                <div class="top-left-vertical-line-1"></div>
                <div class="left-top-horizontal-line-1"></div>
                <div class="left-top-horizontal-line-2"></div>
                <div class="top-left-vertical-line-2"></div>
              </div>
              <div class="left-bottom-corner-box">
                <div class="left-bottom-horizontal-line-1"></div>
                <div class="left-bottom-horizontal-line-2"></div>
                <div class="left-bottom-vertical-line-2"></div>
                <div class="left-bottom-vertical-line-1"></div>
              </div>
              <div class="left-side-lines">
                <div class="side-left-line-vertical-2"></div>
                <div class="side-left-line-vertical-1"></div>
              </div>
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-3">
                  <h3>Your Price: $350 </h3>
                  <h4>Value Received: $725 </h4>
                    <br>
                    <ul style='text-align:left;'><b>$250</b> Shopping Credit</ul>
                    <ul style='text-align:left;'><b>6</b> Clothing Shipments</ul>
                    <ul style='text-align:left;'><b>5</b> Online Golf Lesson with a Pro</ul>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="bottom-side-lines">
                <div class="bottom-line-horizontal-1"></div>
                <div class="bottom-line-horizontal-2"></div>
              </div>
              <div class="right-bottom-corner-box">
                <div class="right-bottom-vertical-line-2"></div>
                <div class="right-bottom-vertical-line-1"></div>
                <div class="right-bottom-horizontal-line-2"></div>
                <div class="right-bottom-horizontal-line-1"></div>
              </div>
              <br>
              <a href="/gift-a-box?spa=$350" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
                <div class="get-started">Get started</div>
              </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
