
  <!-- Scroll Up Button -->
  <div class="w-section go-up-bar">
    <div class="content-wrapper">
      <a href="#Top" data-ix="initial-appearance-for-go-up-button" class="w-inline-block go-up-button" style="background-image: url(<%= asset_path 'Arrow.png' %>);"></a>
    </div>
  </div>

  <!-- Landing Page Image Section-->

  <div data-ix="actions-for-hero-section" class="hero-section" style="background-image: url(<%= asset_path '547a04ed44cf3c333197282c_IMG_4449.JPG' %>);">
    <a href="#Intro" class="w-inline-block arrow"><img width="26" src="<%= image_path('Arrow_1.png') %>" class="pointing-down-arrow">
    </a>
    <div class="content-wrapper hero">
      <div class="hero-header-box">
        <div class="hero-title-box">
          <div data-ix="move-up-hero-title" class="hero-title">A smarter, simpler, way to buy clothing. Meet your PGA Stylist.</div>
          <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started landing">
            <div class="get-started">Get started</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro Section-->

  <div id="Intro" class="w-section content-section intro">
    <div class="content-wrapper narrow">
      <div>
        <h3 class="h3 big">What We Do</h3>
        <p class="paragraph big">
          <br>Most men <strong>hate</strong> shopping for clothing.&nbsp;
          <br>
          <br>So we built a better way...</p>
      </div>
    </div>
  </div>

  <!-- How It Works Section-->

  <div id="How-I-Work" class="w-section content-section dark">
    <div class="content-wrapper narrow">
      <div class="narrow-section-box">
        <h4 class="h4 big white how-i-work">How It Works</h4>
        <p class="paragraph medium white">Skip the stores in 3 simple steps</p>
      </div>
      <div data-ix="slide-right-1-chat-icon" class="how-i-work-row">
        <div class="w-row row">
          <div class="w-col w-col-6 column"><img src="<%= image_path('IMG_4283 (1) copy.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div class="right-column how-i-work">
              <div class="title medium">1. Get Started With A Brief Style Survey</div>
              <p class="paragraph how-i-work">We connect you with a real stylist.</p>
              <p class="paragraph how-i-work">They send a preview for you to approve.</p>
              <p class="paragraph how-i-work">Simply pick the items you’d like to try.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="slide-left-2-display-icon" class="how-i-work-row-2">
        <div class="w-row">
          <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('IMG_5925.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div data-ix="initial-appearance-display" class="display-icon"></div>
            <div class="right-column how-i-work">
              <div class="title medium">2. Receive 5 <i>Personalized</i> Pieces, Delivered To Your Door. </div>
              <p class="paragraph how-i-work">We bring the Pro Shop to you.</p>
              <p class="paragraph how-i-work">Hand-picked for your needs.</p>
              <p class="paragraph how-i-work">Try at home before you buy.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="slide-right-3-diamond-icon" class="how-i-work-row-3">
        <div class="w-row">
          <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('IMG_2763.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div class="right-column how-i-work">
              <div class="title medium">3. Keep What You Love, Send Back The Rest.</div>
              <p class="paragraph how-i-work">Only pay for what you keep.</p>
              <p class="paragraph how-i-work">No markups.</p>
              <p class="paragraph how-i-work">Free Return Shipping.</p>
            </div>
          </div>
        </div>
      </div>
      <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started landing">
            <div class="get-started">Get started</div>
          </a>
    </div>
  </div>

  <!-- What Members Receive Section-->

<div class="w-section content-section no-bottom-padding">
  <h4 class="h4 big white"><span class="benefits-text-span">Members Receive</span></h4>
  <h4 style="color:black;"><span class="benefits-text-span"><i>clothing for every occasion</i></span></h4>
  <div class="content-wrapper">
    <div class="w-container works-box">
      <div class="w-row">
        <div class="w-col w-col-4"><h4>Golf Apparel</h4><img width="965" src="<%= image_path('Bogeybox_015.jpeg') %>"></div>
        <div class="w-col w-col-4"><h4>Business Casual Attire</h4><img src="<%= image_path('Bogeybox_019.jpeg') %>" class="box-image"></div>
        <div class="w-col w-col-4"><h4>Off-course Menswear</h4><img src="<%= image_path('Bogeybox_003.jpeg') %>" class="box-image"></div><br>
      </div>
    </div>
  </div>
</div>

  <!-- Why Golfers Choose Bogeybox Section-->

  <div class="content-section gray">
    <div class="content-wrapper narrow">
      <div>
        <h4 class="h4 big">Why Golfers Choose Bogeybox</h4>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="features-box">
        <div class="w-row features-row">
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-36" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon">
                </div>
                <h3>Perfect Fit Guaranteed</h3>
                <p class="paragraph medium">Your stylist will send multiple sizes, so you always have the best fit.</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-37" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-2">
                </div>
                <h3>Better Every Time</h3>
                <p class="paragraph medium">Preview clothing via email before they ship. We suggest, you choose.</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-38" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-3">
                </div>
                <h3>No Subscription</h3>
                <p class="paragraph medium">Opt to receive packages regularly or at your convenience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Pricing Section-->

  <div class="content-section white">
    <div class="content-wrapper narrow">
      <div>
        <h4 class="h4 big">Pricing</h4>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="features-box">
        <div class="w-row features-row">
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-36" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon">
                </div>
                <h3>No Pressure</h3>
                <p class="paragraph medium">The styling deposit is $20, which you can use toward your final order.</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-37" class="service-feature-box">

              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-2">
                </div>
                <h3>Priced For Your Budget</h3>
                <p class="paragraph medium">Your Bogeybox stylist will select pieces that match your spending preferences.</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-38" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-3">
                </div>
                <h3>Love Everything? Enjoy A 25% Discount</h3>
                <p class="paragraph medium">Celebrate with a discount when you love all 5 items!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Members Benefits Section-->

  <div class="content-section gray">
    <div class="content-wrapper narrow">
      <div>
        <h4 class="h4 big">Members Benefits</h4>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="features-box">
        <div class="w-row features-row">
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-36" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon">
                </div>
                <h3>Exclusive & Popular Brands</h3>
                <p class="paragraph medium">We partner with brands you know in golf apparel and menswear.</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-37" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-2">
                </div>
                <h3>Fair & Comparable Pricing</h3>
                <p class="paragraph medium">We offer high-quality items with no markup above standard retail.</p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-38" class="service-feature-box">
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-3">
                </div>
                <h3>Exclusive Online Golf Instruction</h3>
                <p class="paragraph medium">Every Bogeybox shipment grants member access to a private online swing analysis & lesson with one of our PGA Teaching Professionals.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Real Stylist Section-->

  <div id="How-I-Work" class="w-section content-section ">
  <div class="content-wrapper narrow">
    <div class="narrow-section-box">
      <h4 class="h4 big how-i-work">Real Golfers, Real Stylists</h4>
      <p class="paragraph medium">A real person to handle your wardrobe</p>
    </div>
    <div data-ix="slide-right-3-diamond-icon" class="how-i-work-row-3">
      <div class="w-row">
        <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('Clayton_headshot.jpg') %>" class="image how-it-works">
          <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
        </div>
        <div class="w-col w-col-6 column">
          <div class="right-column how-i-work">
            <p class="paragraph medium">“I’m here to make it as easy as possible for you to discover great products you’ll love. We’re here to help you look your best, and save a ton of time along the way.” </p>
            <p class="paragraph" style="font-size: 14px;">- Clayton Balch. Bogeybox Stylist & PGA Teaching Professional</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
      <div class="get-started">Get started</div>
    </a>
  </div>

  <!-- Get In Touch Section-->

  <div class="section content-section dark  two-columns-split">
    <div class="w-row row philosophy">
      <div class="w-col w-col-5 w-col-stack column">
        <div data-ix="expand-philosophy-box" class="philosophy-box">
          <h4 class="h4 big white contact">Still have questions?</h4>
          <h4 style="color:#dba94b;">Contact: team@bogeyboxgolf.com</h5>
        </div>
      </div>
      <div class="w-col w-col-7 w-col-stack column office-space" style="background-image: url(<%= asset_path '547a04ed44cf3c333197282c_IMG_4449.JPG' %>);"></div>
    </div>
  </div>

  </body>
