
  <!-- Scroll Up Button -->
  <div class="w-section go-up-bar">
    <div class="content-wrapper">
      <a href="#Top" data-ix="initial-appearance-for-go-up-button" class="w-inline-block go-up-button" style="background-image: url(<%= asset_path 'Arrow.png' %>);"></a>
    </div>
  </div>

  <!-- Landing Page Image Section-->

  <div data-ix="actions-for-hero-section" class="hero-section" style="background-image: url(<%= asset_path '547a04ed44cf3c333197282c_IMG_4449.JPG' %>);">
    <a href="#Intro" class="w-inline-block arrow"><img width="26" src="<%= image_path('Arrow_1.png') %>" class="pointing-down-arrow">
    </a>
    <div class="content-wrapper hero">
      <div class="hero-header-box">
        <div class="hero-title-box">
          <div data-ix="move-up-hero-title" class="hero-title">Look Great, Play Better.</div>
          <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started landing">
            <div class="get-started">Get started</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro Section-->

  <div id="Intro" class="w-section content-section intro">
    <div class="content-wrapper narrow">
      <div>
        <h3 class="h3 big">What We Do</h3>
        <p class="paragraph big">
          <br>Most men <strong>hate</strong> shopping for clothing.&nbsp;
          <br>
          <br>We are a premium clothing service designed for busy golfers who want to look great, but don’t have the time.</p>
      </div>
      <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
        <div class="get-started">Get started</div>
      </a>
    </div>
  </div>

  <!-- How It Works Section-->

  <div id="How-I-Work" class="w-section content-section dark">
    <div class="content-wrapper narrow">
      <div class="narrow-section-box">
        <h4 class="h4 big white how-i-work">How It Works</h4>
        <p class="paragraph medium white">Skip the stores in 3 simple steps</p>
      </div>
      <div data-ix="slide-right-1-chat-icon" class="how-i-work-row">
        <div class="w-row row">
          <div class="w-col w-col-6 column"><img src="<%= image_path('IMG_4283 (1) copy.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div class="right-column how-i-work">
              <div class="title medium">Step 1: Tell Us About Yourself</div>
              <p class="paragraph how-i-work">Complete your style profile to be matched with one of our PGA Pros.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="slide-left-2-display-icon" class="how-i-work-row-2">
        <div class="w-row">
          <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('IMG_5925.jpeg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div data-ix="initial-appearance-display" class="display-icon"></div>
            <div class="right-column how-i-work">
              <div class="title medium">STEP 2: WE PACK YOUR BOGEYBOX</div>
              <p class="paragraph how-i-work">Based on your taste and needs, your Pro will hand-pick clothing options and email them to you to approve.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="slide-right-3-diamond-icon" class="how-i-work-row-3">
        <div class="w-row">
          <div class="w-col w-col-6 column"><img width="500" src="<%= image_path('IMG_2763.jpg') %>" class="image how-it-works">
            <div data-ix="initial-appearance-diamond-icon" class="diamond-icon"></div>
          </div>
          <div class="w-col w-col-6 column">
            <div class="right-column how-i-work">
              <div class="title medium">Step 3: Keep What You Love</div>
              <p class="paragraph how-i-work">Try everything on and send back returns with the pre-paid FedEx label.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- What Members Receive Section-->

  <div class="w-section content-section no-bottom-padding">
    <h4 class="h4 big white"><span class="benefits-text-span">What Members Receive</span></h4>
    <div class="content-wrapper">
      <div class="w-container works-box">
        <div class="w-row">
          <div class="w-col w-col-6"><img width="965" src="<%= image_path('bogeybox-howitworks-mark.jpg') %>">
          </div>
          <div class="w-col w-col-6"><img src="<%= image_path('bogeybox-howitworks-michael.jpg') %>" class="box-image">
          </div>
        </div>
      </div>
    </div>
    <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
      <div class="get-started">Get started</div>
    </a>
  </div>

  <!-- Pricing Section-->

  <div class="content-section gray">
    <div class="content-wrapper narrow">
      <div>
        <h4 class="h4 big">Pricing</h4>
      </div>
    </div>
    <h3>$100 Annual Dues</h3>
    <div class="content-wrapper">
      <div class="features-box">
        <div class="w-row features-row">
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-36" class="service-feature-box">
              <div class="right-side-lines">
                <div class="side-right-line-vertical-1"></div>
                <div class="side-right-line-vertical-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-horizontal-1"></div>
                <div class="top-horizontal-line-2"></div>
              </div>
              <div class="right-top-corner-box">
                <div class="right-top-vertical-line-1"></div>
                <div class="right-top-horizontal-line-2"></div>
                <div class="right-top-vertical-line-2"></div>
                <div class="right-top-horizontal-line-1"></div>
              </div>
              <div class="left-top-corner-box">
                <div class="top-left-vertical-line-1"></div>
                <div class="left-top-horizontal-line-1"></div>
                <div class="left-top-horizontal-line-2"></div>
                <div class="top-left-vertical-line-2"></div>
              </div>
              <div class="left-bottom-corner-box">
                <div class="left-bottom-horizontal-line-1"></div>
                <div class="left-bottom-horizontal-line-2"></div>
                <div class="left-bottom-vertical-line-2"></div>
                <div class="left-bottom-vertical-line-1"></div>
              </div>
              <div class="left-side-lines">
                <div class="side-left-line-vertical-2"></div>
                <div class="side-left-line-vertical-1"></div>
              </div>
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon"><img src="<%= image_path('FedEx Free Shipping.gif') %>">
                </div>
                <h3>Never Pay For Shipping</h3>
                <p class="paragraph medium">Shipping is free both ways, and returns are insanely easy.</p>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="bottom-side-lines">
                <div class="bottom-line-horizontal-1"></div>
                <div class="bottom-line-horizontal-2"></div>
              </div>
              <div class="right-bottom-corner-box">
                <div class="right-bottom-vertical-line-2"></div>
                <div class="right-bottom-vertical-line-1"></div>
                <div class="right-bottom-horizontal-line-2"></div>
                <div class="right-bottom-horizontal-line-1"></div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-37" class="service-feature-box">
              <div class="right-side-lines">
                <div class="side-right-line-vertical-1"></div>
                <div class="side-right-line-vertical-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-horizontal-1"></div>
                <div class="top-horizontal-line-2"></div>
              </div>
              <div class="right-top-corner-box">
                <div class="right-top-vertical-line-1"></div>
                <div class="right-top-horizontal-line-2"></div>
                <div class="right-top-vertical-line-2"></div>
                <div class="right-top-horizontal-line-1"></div>
              </div>
              <div class="left-top-corner-box">
                <div class="top-left-vertical-line-1"></div>
                <div class="left-top-horizontal-line-1"></div>
                <div class="left-top-horizontal-line-2"></div>
                <div class="top-left-vertical-line-2"></div>
              </div>
              <div class="left-bottom-corner-box">
                <div class="left-bottom-horizontal-line-1"></div>
                <div class="left-bottom-horizontal-line-2"></div>
                <div class="left-bottom-vertical-line-2"></div>
                <div class="left-bottom-vertical-line-1"></div>
              </div>
              <div class="left-side-lines">
                <div class="side-left-line-vertical-2"></div>
                <div class="side-left-line-vertical-1"></div>
              </div>
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-2"><img width="180" height="155" src="<%= image_path('Green-Gold-money-back-guarantee.jpg') %>">
                </div>
                <h3>Money Back Guarantee</h3>
                <p class="paragraph medium">Member satisfaction is our number one priority.
                  <br>You're in control.</p>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="bottom-side-lines">
                <div class="bottom-line-horizontal-1"></div>
                <div class="bottom-line-horizontal-2"></div>
              </div>
              <div class="right-bottom-corner-box">
                <div class="right-bottom-vertical-line-2"></div>
                <div class="right-bottom-vertical-line-1"></div>
                <div class="right-bottom-horizontal-line-2"></div>
                <div class="right-bottom-horizontal-line-1"></div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4 w-col-stack">
            <div data-ix="show-up-on-scroll-38" class="service-feature-box">
              <div class="right-side-lines">
                <div class="side-right-line-vertical-1"></div>
                <div class="side-right-line-vertical-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-horizontal-1"></div>
                <div class="top-horizontal-line-2"></div>
              </div>
              <div class="right-top-corner-box">
                <div class="right-top-vertical-line-1"></div>
                <div class="right-top-horizontal-line-2"></div>
                <div class="right-top-vertical-line-2"></div>
                <div class="right-top-horizontal-line-1"></div>
              </div>
              <div class="left-top-corner-box">
                <div class="top-left-vertical-line-1"></div>
                <div class="left-top-horizontal-line-1"></div>
                <div class="left-top-horizontal-line-2"></div>
                <div class="top-left-vertical-line-2"></div>
              </div>
              <div class="left-bottom-corner-box">
                <div class="left-bottom-horizontal-line-1"></div>
                <div class="left-bottom-horizontal-line-2"></div>
                <div class="left-bottom-vertical-line-2"></div>
                <div class="left-bottom-vertical-line-1"></div>
              </div>
              <div class="left-side-lines">
                <div class="side-left-line-vertical-2"></div>
                <div class="side-left-line-vertical-1"></div>
              </div>
              <div class="feature-content">
                <div data-ix="initial-appareance-for-feature-icons" class="feature-icon-3"><img width="142" src="<%= image_path('570326e4cf1a87a8434581ce_Screen Shot 2016-04-01 at 11.57.23 PM.png') %>">
                </div>
                <h3>Your PGA Pro</h3>
                <p class="paragraph medium">Your Pro is available on-demand to help with clothing needs, or golf instruction.&nbsp;</p>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="top-side-lines">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
              </div>
              <div class="bottom-side-lines">
                <div class="bottom-line-horizontal-1"></div>
                <div class="bottom-line-horizontal-2"></div>
              </div>
              <div class="right-bottom-corner-box">
                <div class="right-bottom-vertical-line-2"></div>
                <div class="right-bottom-vertical-line-1"></div>
                <div class="right-bottom-horizontal-line-2"></div>
                <div class="right-bottom-horizontal-line-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="/sign-up" data-ix="fade-out-body-on-click" class="w-inline-block button get-started">
        <div class="get-started">Get started</div>
      </a>
    </div>
  </div>

  <!-- Testimonials Section-->

  <div id="Testimonials" class="w-section content-section">
    <div class="content-wrapper narrow">
      <div class="narrow-section-box">
        <h4 class="h4 big">Testimonials</h4>
        <p class="paragraph medium">96% Member Retention Rate</p>
      </div>
      <div class="w-clearfix testimonials-box">
        <div data-ix="expand-testimonial-box-1" class="testimonial-box">
          <h6 class="h6 big testimonial">"My Pro at Bogeybox was very helpful. It's easy to see that this service cares very much about their customers."</h6>
          <div class="testimonial-text">Albert, TX</div>
        </div>
        <div data-ix="expand-testimonial-box-2" class="testimonial-box-2 yellow">
          <h5 class="h6 big testimonial">"You see the same stuff at every pro-shop. It's nice to have new options, from new brands."</h5>
          <div class="testimonial-text">Garrett, NYC<span class="underline"><a class="link testimonial" href="#Testimonials"></a></span>
          </div>
        </div>
        <div data-ix="expand-testimonial-box-3" class="testimonial-box-3">
          <h6 class="h6 big testimonial">"I really appreciate that my Pro takes the time to contact me and make sure what I need is what he sends me."</h6>
          <div class="testimonial-text">Dominic, PA<span class="underline"><a class="link testimonial" href="/contact-me"></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Press/Seen On Section-->

  <div class="content-section gray">
    <div class="content-wrapper narrow">
      <div>
        <h4 class="h4 big">Press</h4>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="features-box">
        <div class="content-wrapper">
          <div data-ix="staggered-logo-show-up" class="clients-logo-box">
            <div data-ix="staggered-logo-show-up" class="w-row row">
              <div class="w-col w-col-3 w-col-medium-6 column">
                <div data-ix="initial-appearance-clients-logo-box" class="client-logo-box"></div>
              </div>
              <div class="w-col w-col-3 w-col-medium-6 column">
                <div data-ix="initial-appearance-clients-logo-box" class="client-logo-box-2"><img width="316" src="<%= image_path('GOLFWEEK_Black-2014.png') %>">
                </div>
              </div>
              <div class="w-col w-col-3 w-col-medium-6 column">
                <div data-ix="initial-appearance-clients-logo-box" class="client-logo-box-3"><img width="126" src="<%= image_path('9_myg_logo.png') %>">
                </div>
              </div>
              <div class="w-col w-col-3 w-col-medium-6 column">
                <div data-ix="initial-appearance-clients-logo-box" class="client-logo-box-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Get In Touch Section-->

  <div class="w-section content-section dark two-columns-split">
    <div class="w-row row philosophy">
      <div class="w-col w-col-5 w-col-stack column">
        <div data-ix="expand-philosophy-box" class="philosophy-box">
          <h4 class="h4 big white contact">Still have questions ?</h4>
          <a href="contact-me-3.html" data-ix="fade-out-body-on-click" class="w-inline-block button white-outline add-top-border">
            <div>get in touch</div>
          </a>
        </div>
      </div>
      <div class="w-col w-col-7 w-col-stack column office-space" style="background-image: url(<%= asset_path '547a04ed44cf3c333197282c_IMG_4449.JPG' %>);"></div>
    </div>
  </div>

  </body>
