
<div class="w-section content-section gray">
  <div class="content-wrapper white contact">
    <div class="contact-form-box">
      <div class="contact-form-title-box">
        <div class="title medium dark">Log In To Your Bogeybox Account:</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<br>
<%= devise_error_messages! %>
  <% flash.each do |key, value| %>
     <div class="flash" style="color:black;" <%= key %>"><%= value %></div>
  <% end %><br>
  <div class="w-clearfix input-box">
    <div class="input-text your-message">Email: <%= f.email_field :email, autofocus: true %></div>
  </div>
<br>
  <div class="w-clearfix input-box">
    <div class="input-text your-message">Password: <%= f.password_field :password, autofocus: true %></div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Log in", :class => 'class="w-button submit-button' %>
  </div>
<% end %>

      </div>
    </div>
  </div>
</div>
